@inherits LayoutComponentBase
@using PoSnakeGame.Wa.Pages

<main class="main-layout-container"> @* Added a container class if needed for styling *@
    @Body
</main>

<DiagnosticsModal @bind-IsVisible="_showDiagnosticsModal" />

@code {
    private bool _showDiagnosticsModal = false; // Do not show modal on initial load

    // Optional: Method to handle showing diagnostics if needed
    private void ShowDiagnostics()
    {
        _showDiagnosticsModal = true;
    }
}
