# Binaries
/**/*.dll
/**/*.exe

# Build results
/bin
/obj
/publish

# Visual Studio files
/.vs
/*.suo
/*.user
/*.userosscache
/*.sln.docstates

# NuGet packages
/packages

# Other
deploy.zip
__blobstorage__/
__queuestorage__/
PoSnakeGame.Wa/__blobstorage__/
PoSnakeGame.Wa/__queuestorage__/
PoSnakeGame.Wa/AzuriteConfig
PoSnakeGame.Wa/__azurite_db_blob__.json
PoSnakeGame.Wa/__azurite_db_blob_extent__.json
PoSnakeGame.Wa/__azurite_db_queue__.json
PoSnakeGame.Wa/__azurite_db_queue_extent__.json
PoSnakeGame.Wa/__azurite_db_table__.json
AzuriteConfig
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__azurite_db_queue__.json
__azurite_db_queue_extent__.json
__azurite_db_table__.json
