@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<PageTitle>Snake Battle Royale</PageTitle>

<HeadContent>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="css/game.css" rel="stylesheet">
</HeadContent>

<div class="page">
    <main>
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
